.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.tables {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.progress-row, .level-progress {
  display: flex;
  flex-direction: row;
}


.progress-cell, .level-progress-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

/* Color of repetition from red to green */
.progress-cell-0, .level-progress-cell-0 {
  background-color: #FF0000;
}

.progress-cell-1, .level-progress-cell-1 {
  background-color: #FF6347;
}

.progress-cell-2, .level-progress-cell-2 {
  background-color: #FF4500;
}

.progress-cell-3, .level-progress-cell-3 {
  background-color: #FFA500;
}

.progress-cell-4, .level-progress-cell-4 {
  background-color: #FFD700;
}

.progress-cell-5, .level-progress-cell-5 {
  background-color: #9ACD32;
}

.progress-cell-6, .level-progress-cell-6 {
  background-color: #32CD32;
}

.question {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.answers {
  display: flex;
  gap: 5px;
}

.answer {
  width: 200px;
  height: 200px;
  font-size: 40px;
}

.result {
  font-size: 40px;
  text-align: center;
}

.result-wrong {
  color: #FF0000;
}

.result-right {
  color: #32CD32;
}

.back {
  width: 100px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}