/*normalize.css*/
html {
  font-family: sans-serif;

      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;

  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;

  height: 0;
}
[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;

  margin: .67em 0;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;

  margin: 0;

  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;

  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;

  border: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;

  -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;

  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;

  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*end normalize.css*/
* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
  font-weight: 300;

  color: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.87);
}
body,
html {
  height: 100%;
}
.clearfix:before,
.clearfix:after {
  display: table;

  content: '';
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*grid*/
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 100%;
  }
}
.container .row {
  margin-right: -15px;
  margin-left: -15px;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section.no-pad {
  padding: 0;
}
.section.no-pad-bot {
  padding-bottom: 0;
}
.section.no-pad-top {
  padding-top: 0;
}

.row {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
.row:after {
  display: table;
  clear: both;

  content: '';
}
.row .col {
  float: left;

  box-sizing: border-box;
  padding: 0 15px;
}
.row .col[class*='push-'],
.row .col[class*='pull-'] {
  position: relative;
}
.row .col.s1 {
  right: auto;
  left: auto;

  width: 8.33333%;
  margin-left: auto;
}
.row .col.s2 {
  right: auto;
  left: auto;

  width: 16.66667%;
  margin-left: auto;
}
.row .col.s3 {
  right: auto;
  left: auto;

  width: 25%;
  margin-left: auto;
}
.row .col.s4 {
  right: auto;
  left: auto;

  width: 33.33333%;
  margin-left: auto;
}
.row .col.s5 {
  right: auto;
  left: auto;

  width: 41.66667%;
  margin-left: auto;
}
.row .col.s6 {
  right: auto;
  left: auto;

  width: 50%;
  margin-left: auto;
}
.row .col.s7 {
  right: auto;
  left: auto;

  width: 58.33333%;
  margin-left: auto;
}
.row .col.s8 {
  right: auto;
  left: auto;

  width: 66.66667%;
  margin-left: auto;
}
.row .col.s9 {
  right: auto;
  left: auto;

  width: 75%;
  margin-left: auto;
}
.row .col.s10 {
  right: auto;
  left: auto;

  width: 83.33333%;
  margin-left: auto;
}
.row .col.s11 {
  right: auto;
  left: auto;

  width: 91.66667%;
  margin-left: auto;
}
.row .col.s12 {
  right: auto;
  left: auto;

  width: 100%;
  margin-left: auto;
}
.row .col.offset-s1 {
  margin-left: 8.33333%;
}
.row .col.pull-s1 {
  right: 8.33333%;
}
.row .col.push-s1 {
  left: 8.33333%;
}
.row .col.offset-s2 {
  margin-left: 16.66667%;
}
.row .col.pull-s2 {
  right: 16.66667%;
}
.row .col.push-s2 {
  left: 16.66667%;
}
.row .col.offset-s3 {
  margin-left: 25%;
}
.row .col.pull-s3 {
  right: 25%;
}
.row .col.push-s3 {
  left: 25%;
}
.row .col.offset-s4 {
  margin-left: 33.33333%;
}
.row .col.pull-s4 {
  right: 33.33333%;
}
.row .col.push-s4 {
  left: 33.33333%;
}
.row .col.offset-s5 {
  margin-left: 41.66667%;
}
.row .col.pull-s5 {
  right: 41.66667%;
}
.row .col.push-s5 {
  left: 41.66667%;
}
.row .col.offset-s6 {
  margin-left: 50%;
}
.row .col.pull-s6 {
  right: 50%;
}
.row .col.push-s6 {
  left: 50%;
}
.row .col.offset-s7 {
  margin-left: 58.33333%;
}
.row .col.pull-s7 {
  right: 58.33333%;
}
.row .col.push-s7 {
  left: 58.33333%;
}
.row .col.offset-s8 {
  margin-left: 66.66667%;
}
.row .col.pull-s8 {
  right: 66.66667%;
}
.row .col.push-s8 {
  left: 66.66667%;
}
.row .col.offset-s9 {
  margin-left: 75%;
}
.row .col.pull-s9 {
  right: 75%;
}
.row .col.push-s9 {
  left: 75%;
}
.row .col.offset-s10 {
  margin-left: 83.33333%;
}
.row .col.pull-s10 {
  right: 83.33333%;
}
.row .col.push-s10 {
  left: 83.33333%;
}
.row .col.offset-s11 {
  margin-left: 91.66667%;
}
.row .col.pull-s11 {
  right: 91.66667%;
}
.row .col.push-s11 {
  left: 91.66667%;
}
.row .col.offset-s12 {
  margin-left: 100%;
}
.row .col.pull-s12 {
  right: 100%;
}
.row .col.push-s12 {
  left: 100%;
}
@media only screen and (min-width: 601px) {
  .row .col.m1 {
    right: auto;
    left: auto;

    width: 8.33333%;
    margin-left: auto;
  }
  .row .col.m2 {
    right: auto;
    left: auto;

    width: 16.66667%;
    margin-left: auto;
  }
  .row .col.m3 {
    right: auto;
    left: auto;

    width: 25%;
    margin-left: auto;
  }
  .row .col.m4 {
    right: auto;
    left: auto;

    width: 33.33333%;
    margin-left: auto;
  }
  .row .col.m5 {
    right: auto;
    left: auto;

    width: 41.66667%;
    margin-left: auto;
  }
  .row .col.m6 {
    right: auto;
    left: auto;

    width: 50%;
    margin-left: auto;
  }
  .row .col.m7 {
    right: auto;
    left: auto;

    width: 58.33333%;
    margin-left: auto;
  }
  .row .col.m8 {
    right: auto;
    left: auto;

    width: 66.66667%;
    margin-left: auto;
  }
  .row .col.m9 {
    right: auto;
    left: auto;

    width: 75%;
    margin-left: auto;
  }
  .row .col.m10 {
    right: auto;
    left: auto;

    width: 83.33333%;
    margin-left: auto;
  }
  .row .col.m11 {
    right: auto;
    left: auto;

    width: 91.66667%;
    margin-left: auto;
  }
  .row .col.m12 {
    right: auto;
    left: auto;

    width: 100%;
    margin-left: auto;
  }
  .row .col.offset-m1 {
    margin-left: 8.33333%;
  }
  .row .col.pull-m1 {
    right: 8.33333%;
  }
  .row .col.push-m1 {
    left: 8.33333%;
  }
  .row .col.offset-m2 {
    margin-left: 16.66667%;
  }
  .row .col.pull-m2 {
    right: 16.66667%;
  }
  .row .col.push-m2 {
    left: 16.66667%;
  }
  .row .col.offset-m3 {
    margin-left: 25%;
  }
  .row .col.pull-m3 {
    right: 25%;
  }
  .row .col.push-m3 {
    left: 25%;
  }
  .row .col.offset-m4 {
    margin-left: 33.33333%;
  }
  .row .col.pull-m4 {
    right: 33.33333%;
  }
  .row .col.push-m4 {
    left: 33.33333%;
  }
  .row .col.offset-m5 {
    margin-left: 41.66667%;
  }
  .row .col.pull-m5 {
    right: 41.66667%;
  }
  .row .col.push-m5 {
    left: 41.66667%;
  }
  .row .col.offset-m6 {
    margin-left: 50%;
  }
  .row .col.pull-m6 {
    right: 50%;
  }
  .row .col.push-m6 {
    left: 50%;
  }
  .row .col.offset-m7 {
    margin-left: 58.33333%;
  }
  .row .col.pull-m7 {
    right: 58.33333%;
  }
  .row .col.push-m7 {
    left: 58.33333%;
  }
  .row .col.offset-m8 {
    margin-left: 66.66667%;
  }
  .row .col.pull-m8 {
    right: 66.66667%;
  }
  .row .col.push-m8 {
    left: 66.66667%;
  }
  .row .col.offset-m9 {
    margin-left: 75%;
  }
  .row .col.pull-m9 {
    right: 75%;
  }
  .row .col.push-m9 {
    left: 75%;
  }
  .row .col.offset-m10 {
    margin-left: 83.33333%;
  }
  .row .col.pull-m10 {
    right: 83.33333%;
  }
  .row .col.push-m10 {
    left: 83.33333%;
  }
  .row .col.offset-m11 {
    margin-left: 91.66667%;
  }
  .row .col.pull-m11 {
    right: 91.66667%;
  }
  .row .col.push-m11 {
    left: 91.66667%;
  }
  .row .col.offset-m12 {
    margin-left: 100%;
  }
  .row .col.pull-m12 {
    right: 100%;
  }
  .row .col.push-m12 {
    left: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .row .col.l1 {
    right: auto;
    left: auto;

    width: 8.33333%;
    margin-left: auto;
  }
  .row .col.l2 {
    right: auto;
    left: auto;

    width: 16.66667%;
    margin-left: auto;
  }
  .row .col.l3 {
    right: auto;
    left: auto;

    width: 25%;
    margin-left: auto;
  }
  .row .col.l4 {
    right: auto;
    left: auto;

    width: 33.33333%;
    margin-left: auto;
  }
  .row .col.l5 {
    right: auto;
    left: auto;

    width: 41.66667%;
    margin-left: auto;
  }
  .row .col.l6 {
    right: auto;
    left: auto;

    width: 50%;
    margin-left: auto;
  }
  .row .col.l7 {
    right: auto;
    left: auto;

    width: 58.33333%;
    margin-left: auto;
  }
  .row .col.l8 {
    right: auto;
    left: auto;

    width: 66.66667%;
    margin-left: auto;
  }
  .row .col.l9 {
    right: auto;
    left: auto;

    width: 75%;
    margin-left: auto;
  }
  .row .col.l10 {
    right: auto;
    left: auto;

    width: 83.33333%;
    margin-left: auto;
  }
  .row .col.l11 {
    right: auto;
    left: auto;

    width: 91.66667%;
    margin-left: auto;
  }
  .row .col.l12 {
    right: auto;
    left: auto;

    width: 100%;
    margin-left: auto;
  }
  .row .col.offset-l1 {
    margin-left: 8.33333%;
  }
  .row .col.pull-l1 {
    right: 8.33333%;
  }
  .row .col.push-l1 {
    left: 8.33333%;
  }
  .row .col.offset-l2 {
    margin-left: 16.66667%;
  }
  .row .col.pull-l2 {
    right: 16.66667%;
  }
  .row .col.push-l2 {
    left: 16.66667%;
  }
  .row .col.offset-l3 {
    margin-left: 25%;
  }
  .row .col.pull-l3 {
    right: 25%;
  }
  .row .col.push-l3 {
    left: 25%;
  }
  .row .col.offset-l4 {
    margin-left: 33.33333%;
  }
  .row .col.pull-l4 {
    right: 33.33333%;
  }
  .row .col.push-l4 {
    left: 33.33333%;
  }
  .row .col.offset-l5 {
    margin-left: 41.66667%;
  }
  .row .col.pull-l5 {
    right: 41.66667%;
  }
  .row .col.push-l5 {
    left: 41.66667%;
  }
  .row .col.offset-l6 {
    margin-left: 50%;
  }
  .row .col.pull-l6 {
    right: 50%;
  }
  .row .col.push-l6 {
    left: 50%;
  }
  .row .col.offset-l7 {
    margin-left: 58.33333%;
  }
  .row .col.pull-l7 {
    right: 58.33333%;
  }
  .row .col.push-l7 {
    left: 58.33333%;
  }
  .row .col.offset-l8 {
    margin-left: 66.66667%;
  }
  .row .col.pull-l8 {
    right: 66.66667%;
  }
  .row .col.push-l8 {
    left: 66.66667%;
  }
  .row .col.offset-l9 {
    margin-left: 75%;
  }
  .row .col.pull-l9 {
    right: 75%;
  }
  .row .col.push-l9 {
    left: 75%;
  }
  .row .col.offset-l10 {
    margin-left: 83.33333%;
  }
  .row .col.pull-l10 {
    right: 83.33333%;
  }
  .row .col.push-l10 {
    left: 83.33333%;
  }
  .row .col.offset-l11 {
    margin-left: 91.66667%;
  }
  .row .col.pull-l11 {
    right: 91.66667%;
  }
  .row .col.push-l11 {
    left: 91.66667%;
  }
  .row .col.offset-l12 {
    margin-left: 100%;
  }
  .row .col.pull-l12 {
    right: 100%;
  }
  .row .col.push-l12 {
    left: 100%;
  }
}
